@font-face{
    font-family: "sfcr-medium";
    src: url(./SF-Compact-Rounded-Medium.otf) format("truetype");
  }

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121211;
    height: 100vh;
}

h1{
    font-family: sfcr-medium;
    font-size: 52px;
    color: #e2e1dc;
    margin: 0 0 8px 6px;
}

label{
    color: #e2e1dc;
    width: 80%;
    font-family: sfcr-medium;
    margin-left: 1px;
}

button{
    box-sizing: border-box;
    height: 5vh;
    border-radius: 8px; 

    background-color:#2c2e2c;

    border-style: solid;
    border-width: 2px;
    border-color:#2c2e2c;

    font-family: sfcr-medium;
    color: #e2e1dc;
}

button:hover{
    background-color:#41413f;

    border-style: solid;
    border-width: 2px;
    border-color:#41413f;
}

.container{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 80%;
}

.column{
    display: flex;
    justify-content: center; 
    align-items: center; 
}

#B{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
}

#logo{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
}

.main-form{
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 90%;
    padding: 3vh 0 1vh;
    margin-bottom: 2px;
    border-radius: 8px;

    background-color: #181817;

    border-style: solid;
    border-width: 2px;
    border-color:#2c2e2c;
}

#email-forgot-form{
    justify-content: flex-start; 
    height: 25%;
}

#passwordreset-form{
    justify-content: flex-start; 
    height: 39%;
}

#login-form{
    justify-content: flex-start; 
    height: 39%;
}

#create-form{
    justify-content: flex-start; 
    height: 52%;
}

#verify-form-create{
    justify-content: center; 
    height: 52%;
    padding: 2vh 0 2vh;
}

/* verify-form-forgot could be created. It's the same but different height. */

#code-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 5vh;
}

#create-forgot{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 

    width: 90%;
    height: 6%;
    margin-top: 10px;
    border-radius: 8px;

    background-color: #181817;

    border-style: solid;
    border-width: 2px;
    border-color:#2c2e2c;
}

.passw-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 5vh;
    margin: 4px 0 16px;
}

.main-fields{
    box-sizing: border-box;
    width: 80%;
    height: 5vh;
    border-radius: 8px;
    padding-left: 2%;

    background-color: #121211;

    border-style: solid;
    border-width: 2px;
    border-color:#2c2e2c;

    font-family: sfcr-medium;
    color: #e2e1dc;
}

.digit{
    width: 15%;

    text-align: center;
    font-size: 16px;
}

#email{
    margin: 4px 0 16px;
}

.main-fields:focus{
    border-style: solid;
    border-width: 2px;
    border-color:#c4c3ba;
    outline: none;
}

.show-button{
    display: flex; 
    align-items: center; 
    justify-content: center;
    width: 17%;

    font-size: 12px;
}

#main-button{
    width: 80%;
    margin-top: 1vh;

    font-size: 16px;
}

.create-forgot-item{
    text-decoration: none;
    margin: 0 4px 0;

    font-family: sfcr-medium;
    font-size: 15px;
    color: #e2e1dc;
}

.requirement-pair-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    width: 90%;
    margin-top: 10px;
}

.requirement-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 5vh;
    width: 48%;
}

#requirement-div-forgot{
    width: 90%;
    margin-top: 10px;
}

.requirement{
display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 75%;
    height: 4vh;
    border-radius: 8px;

    background-color: #181817;

    border-style: solid;
    border-width: 2px;
    border-color:#2c2e2c;

    font-family: sfcr-medium;
    font-size: 15px;
    color: #e2e1dc;
}

#requirement-forgot{
    width: 86%;
}

.sq{
    height: 4vh;
    width: 4vh;
    border-radius: 8px;
    margin-left: 12px;

    background-color: #181817;

    border-style: solid;
    border-width: 2px;
    border-color:#2c2e2c;
}