@font-face{
    font-family: "sfcr-medium";
    src: url(./SF-Compact-Rounded-Medium.otf) format("truetype");
}

body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #121211;
    height: 100vh;
}

h3{
    font-family: sfcr-medium;
    font-size: 24px;
    color: #d6d5cd;
    margin: 0 0 4px 2px;
}

.container{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 80%;
}

.column{
    display: flex;
    justify-content: center; 
    align-items: center; 
}

#B{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    width: 50%;
}

#A,#C{
    width: 25%;
}

#logo{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    height: 7vh;
}

#selector{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 4vh;
    width: 80%;
    border-radius: 20px;
    margin-top: 5%;
    margin-bottom: 5%;

    background-color: #2b2b29;
}

.level{
    height: 1.6vh;
    border-radius: 20px;
}

#level-day{
    background-color: #941400;
    width: 15%;
}

#level-month{
    background-color: #e75b10;
    width: 25%;
    margin: 0 10px 0;
}

#level-year{
    background-color: #f6bd04;
    width: 50%;
}

#core{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 80%;
    width: 98%;
    margin-top: 3.5%;
}

#xsq-pos-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 40%;
    width: 64%;
}

.xsq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 22vh;
    width: 22vh;
    border-radius: 8px;
    padding: 10px;
}

#xsq{
    background-color: #1e1e1d;
}

#pos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2b2b29;
}

.pos-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 2.4vh;
    width: 100%;
    margin: 2px 0 2px;
}

.pos-day{
    height: 2.4vh;
    width: 2.4vh;
    border-radius: 5px;
    margin: 0 2px 0;

    background-color: #121211;
}

.pos-fill{
    background-color: #2b2b29;
}

#today{
    background-color: #d6d5cd;
}

#x-range{
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    height: 4vh;
    width: 61.5%;
    border-radius: 20px;
    margin: 4% 0 4%;
    padding: 0 8px 0;

    background-color: #1e1e1d;

    border-style: solid;
    border-width: 3px;
    border-color: #1e1e1d;
}

#x-range::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background-color: #d6d5cd; 
    cursor: pointer;
    border-radius: 12.5px; 
}

#mod-conf-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 10%;
    width: 64%;
}

#mod-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 4vh;
    width: 25vh;
    border-radius: 20px;

    background-color: #2b2b29;
    
    border-style: solid;
    border-width: 3px;
    border-color: #2b2b29;
}

.mod-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 3.6vh;
    width: 28%;
    border-radius: 20px;
}

#mod-2{
    margin: 0 7px 0;
}

#confirm{
    height: 5vh;
    width: 25vh;
    border-radius: 8px; 

    background-color:#2b2b29;

    font-family: sfcr-medium;
    font-size: 16px;
    color: #d6d5cd;

    border-style: solid;
    border-width: 3px;
    border-color: #2b2b29;
}

#confirm:hover{
    background-color:#41413f;
    border-color: #41413f;
}