@font-face { font-family: eudoxus; src: url('EudoxusSans-ExtraBold.ttf'); } 
@font-face { font-family: eudoxus2; src: url('EudoxusSans-Medium.ttf'); } 


body {
    background-color: #1C1C1C;
}

h1 {
   font-family: eudoxus;
   font-size: 4em;
   margin: -12px 0 0 8px;
   color: #FEFFFB;
}

h3 {
    font-family: helvetica;
    font-size: 1em;
    margin: 0 0 0 5px;
    color: #FEFFFB; 
}
#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#upper{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

#title{
    max-width: 40%;
    min-height: 5em;
    float: left;
}

#defs{
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background-color: #323130;
    border-radius: 12px;
    padding: 5px;

    font-family: helvetica;
    height:400px;
    width: 40%;

    color: #FEFFFB; 
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;   
}

input[type=text]{
    width: 100%;
    height: 2.5em;

    border-style: solid;
    font-family: eudoxus2;
    font-size: 1em;
    border-color: #1C1C1C;
    background-color: #323130;
    color: #9C9B98;
    border-radius: 12px;

    margin-top: 1em;
    padding-left: 1.5em;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

}

input[type=text]:focus{
    outline: none;
}

input::placeholder {
    font-family: eudoxus2;
    font-size: 1em;
    color: #9C9B98;
}

input:focus::placeholder {
    color: transparent;
}

.df{
    margin: 8px;
    background-color: #1C1C1C;
    border-radius: 12px;
    padding: 16px;
}

.th{
    max-width: 50%;
    margin: 8px;
    background-color: #1C1C1C;
    border-radius: 12px;
    padding: 16px;
}
  

input[type=button]{
    border-radius: 27px;
    border-style: solid;
    border-width: 2px;
    width: 4em;
    height: 54px;
    margin-left: 0.5em;
    font-size: 24px;
    font-weight: 500;
    background-color: #FEFFFB;
    font-family: lbask;
}
input[type=button]:hover{
    outline-width: 0;

    background-color: #1C1C1C;
    -webkit-transition: background-color 100ms linear;
    transition: background-color 100ms linear;

    color: #FEFFFB;
}

.dfsbuttons{
    font-family: helvetica;
    font-weight: 950;
    font-size: 1em;

    border-style: solid;
    background-color: #FEFFFB;
    color: #1C1C1C;
    width: 3em;
    height: 1.5em;
}
