@font-face { font-family: eudoxus; src: url('EudoxusSans-ExtraBold.ttf'); } 
h1 {
   font-family: eudoxus;
   font-size: 4em;
   margin:0;
   margin-top: 0.5em;
   margin-bottom: -4px;
   color: #FEFFFB;
}

h3 {
    font-family: helvetica;
    font-size: 1em;
    color: #FEFFFB; 
    margin:0;
    margin-left: 5px;
}

#upper{
    margin:auto;
    width: 60%;
}

#ctlogo{
    margin:0;
    margin-top: 1.5em;
    margin-right: -5.5em;
    width: 20%;
    min-height: 5em;
    float: left;
}

#title{
    width: 40%;
    min-height: 5em;
    float: left;
}


form{
    padding: 0;
    margin: 0.5em;
    margin-top: 3.1em;
}

input[type=text]{
    background-color: #FEFFFB;
    border-radius: 27px;
    padding-left: 20px;
    border-style: solid;
    border-color: #1C1C1C;
    border-width: 2px;
    width: 80%;
    height: 2em;
    font-size: 24px;
    font-family: lbask;
    font-weight: 500;
    }
input[type=button]{
    border-radius: 27px;
    border-style: solid;
    border-width: 2px;
    width: 4em;
    height: 54px;
    margin-left: 0.5em;
    font-size: 24px;
    font-weight: 500;
    background-color: #FEFFFB;
    font-family: lbask;
}
input[type=text]:focus, input[type=button]:hover{
    outline-width: 0;

    background-color: #1C1C1C;
    -webkit-transition: background-color 100ms linear;
    transition: background-color 100ms linear;

    color: #FEFFFB;
}
body {
    background-color: #1C1C1C;
}
